* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --viewport-color: #1b1b1b;
  }

#app {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #009688 15%, #D8DBD5 15%);

}
img {
    width: 60px;
}

i {
    color: #B1B1B1;
    margin: auto 10px;
}
div>i{
    padding: 5px;
}

div>i:hover{
    filter: invert(100);
    cursor: pointer;

}


.debug {
    border: 2px solid red;
}

.themeDark{
   filter: invert(100%);
   
}


/************************* contacts *********************/

/* div grande sinistro */
.contacts {
    width: 40%;
    border-right: 2px solid #e1e1e1;

}


#bell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10px;
    width: 10%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
}

#bell i {
    color: rgb(142, 218, 252);

}

nav {
    height: 75px;
    display: flex;
    justify-content: space-between;
    background-color: #EAEAEA;
}


.notice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    background-color: rgb(142, 218, 252);
}

.search {
    background-color: #FAFAFA;

}

#listcontacts {
    height: calc(100% - 200px);
    overflow-y: auto;
    background-color: white;
}
#contact{
    border-bottom: 1px solid #e1e1e1;
    height: 85px;
}




/* chat div grande destro */
.t-main {
    height: calc(100% - 150px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
   
}

.chat {
    width: 60%;

}

.ul-deleteChat{
    position: absolute;
    z-index: 3001;
    width: 150px;
    padding: 10px;
    right: 9px;
    top: 27px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgb(120, 120, 120);
    
}

#chatIn {
    width: calc(100% - 80px);
}


.active {

    background-color: rgba(128, 128, 128, 0.355);
}
#listcontacts>div:hover{
    background-color: rgba(128, 128, 128, 0.287);
}

.sent {
    margin-left: auto;
    background-color: #D5F9BA;
  

}

.received {
    background-color: #ffffff;

}

.msg {
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    position: relative;


}

/* Creo il triangolo */
.sent:after,
.received:after {
    content: "";
    display: block;
    width: 0;
    border-width: 26px 7px 0;
    border-style: solid;
  
}

.sent:after{
    border-color: #D5F9BA transparent;
    position: absolute;
    bottom: -20px;
    right: 0px;
    transform: rotate(-30deg);
}
.received:after{
    border-color: #ffffff transparent;
    position: absolute;
    bottom: -20px;
    left: 0px;
    transform: rotate(30deg);
}

.date{
    text-align: end;
    font-size: 10px;
}

.btn{
    padding: 0px;
}

#listRemove{
    width: 180px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 120px;
    top: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgb(120, 120, 120);
    z-index: 2000;
    
}
li:hover{
    background-color: rgba(128, 128, 128, 0.376);
    cursor: pointer;
    border-radius: 15px;
}
li{
    padding:5px;
    list-style: none;
    margin: auto;
}

/* Emoji */

.emoji{
    width: 280px;
    position: absolute;
    bottom: 60px;
    left:10px;
}

.chat nav {
    position: relative;
}

@media screen and (max-width:768px){
    .contacts{
        width: 100%;

    }

    .chat{
        width: 100%;

    }

    .showIt{
        display: none;
    }

}